@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@400;600;700&family=League+Spartan:wght@400;500;700&family=Outfit:wght@400;700&family=Red+Hat+Display:ital,wght@0,500;0,700;0,900;1,800&display=swap');


:root{
    /* -(background) */
    --Light-slate-blue : hsl(252, 100%, 67%) ;
    --Light-royal-blue: hsl(241, 81%, 54%);
    /* (circle) */
    --Violet-blue: hsla(256, 72%, 46%, 1);
    --Persian-blue: hsla(241, 72%, 46%, 0);
    /* Natural */
    --White: hsl(0, 0%, 100%);
    --Pale-blue: hsl(221, 100%, 96%);
    --Light-lavender: hsl(241, 100%, 89%);
    --Dark-gray-blue: hsl(224, 30%, 27%);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img {
    display: block;
    max-width: 100%;
}
button {
    border-style: none;
}
body{
    min-height: 100vh;
    background-color: var(--Pale-blue);
    font-family: "Hanken Grotesk", sans-serif;
}

.main-container{
    display: flex;
    max-width: 1440px;
    width: 550px;
    height: 370px;
    margin: auto;
    margin-top: 100px;
    border-radius: 15px;
}
.First-container{
    background-color: var(--Light-royal-blue);
    border-radius: 15px;
    width: 50%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.First-container p{
    margin-top: 30px;
    color: var(--Light-lavender);
    font-size: 17px;
    font-weight: 500;
}

.circle-text{
    flex-direction: column;
    border-radius: 50%;
    width: 130px;
    height: 130px;
    margin: auto;
    margin-top: 25px;
    background-color: var(--Violet-blue);
}
.circle-text h1{
    color: var(--White);
    position: relative;
    top: 30px;
    font-size: 50px;
    font-weight: 800;
}
.circle-text p{
    font-size: 12px;
    align-items: center;
    justify-content: center;
}
.title{
    margin-top: 30px;
    color: var(--Pale-blue);
    font-weight: 700;
    align-items: center;
    justify-content: center;
}
.First-container .text{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 40px;
    margin-right: 40px;
    color: var(--Light-lavender);
    
}
.Second-container{
    background-color: var(--White);
    width: 50%;
    padding: 20px;
    border-radius: 15px;
}
.Second-container h1{
    font-size: 20px;
    font-weight: 700; 
    margin-top: 10px;
}
.containers{
    margin-top: 20px;
}
.Box{
  background-color: gray;
  width: 230px;
  height: 40px;
  margin-top: 10px;  
  border-radius: 10px;
  align-items: center;
}
.inside{
    display: flex;
   
}
.inside img{
    margin-left: 5px;
    margin-right: 5px;
}
.inside p{
    font-size: 14px;
}
.span{
    color: var(--Light-lavender);
    font-size: 13px;
}
.Box .boxs{
    font-size: 15px;
    margin-left: 80px;
}
.boxss{
    font-size: 15px;
    margin-left: 90px;   
}
.Reaction-Box{
    margin-bottom: 2px;
    display: flex;
    background-color: #F5E7E7;
}
.Reaction p{
    color: #E46E6C;
    font-weight: 700;
}
.Memory-Box{
    margin-bottom: 2px;
    display: flex;
    background-color: #F4F1E5;
}
.Memory p{
    font-weight: 700;
    color: #FFCB00;
}
.Verbal-Box{
    margin-bottom: 2px;
    display: flex;
    background-color: #EEFCF7;
}
.Verbal p{
    font-weight: 700;
    color: #00D084;
}
.Visual-Box{
    display: flex;
    font-weight: 700;
    background-color: #EBF1F9;
}
.Visual{
    font-weight: 700;
    color: #004DCF;
}
button{
    background-color: var(--Dark-gray-blue);
    color: var(--White);
    border-radius: 20px;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 30px;
    width: 220px;
    height: 40px;
}
